/* styles.css */

.card {
  position: relative; /* Required for absolute positioning */
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 200px; /* Adjust as needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card span {
  font-size: 16px;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}
.card button {
  position: absolute;
  display: block; /* Display on a new line */
  bottom: 10px;
  left: 150px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
}

.card button:hover {
  background-color: #0056b3;
}
